html, body{
  background: linear-gradient(to right, white, #487eb0);
}
#export:active{
  transform: translateY(4px);
}
.text-input{
  width: 100%;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1.3rem;
  color: #2f3640;
  padding: 7px 0;
  background: transparent;
}
.navigator button{
  font-family: 'Balsamiq Sans', cursive;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
.navigator button:hover{
  background-color: rgb(145, 85, 85);
}
.navigator button.active{
  background-color: #ccc;
}
.searchPage{
  display: none;
}
.searchPage.active{
  display: block;
}
.favoritesPage{
  display: none;
}
.favoritesPage.active{
  display: block;
}
.favorited{
  border: blueviolet;
  border-width: thick;
  border-style: groove;
}
.resultGif{
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-flex;
  margin: 1.6rem 0px;
  flex-direction: row;
  flex-wrap: wrap;
}
.gifWrapper{
  width: 305px;
  height: 300px;
  padding-right: 15px;
  margin: 1.6rem 0px;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}
img{
  width: 100%;
  height: 100%;
  cursor: pointer;
  box-shadow: rgba(33, 33, 33, 0.2) 0px 0px 11px;
}
img:hover{
  transform: scale(1.05);
}
